
* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    color: #E8E8F2;
}

body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html {
    background-color: #010104;
    margin-left: 48px;
    margin-right: 48px;
}

.container {
    border: 7px solid #668c91;
    box-shadow: 0 1px 3px rgba(0,0,0,.04);
    border-radius: 39px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    background: linear-gradient(184deg, rgba(68,67,85,1) 0%, rgba(27,157,182,1) 100%);

}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="email"], input[type="password"], input[type="submit"], input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #010104;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: grey;
}


